button {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: $base-font-size;
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-decoration: none;
  border-radius: $base-border-radius * 2;
  height: $base-space * 5;

  &:disabled {
    background-color: $grey;
  }
}
