/** COLORS */
$white: #fff;
$blue: #03353e;
$black: #000;
$grey: #a79c93;
$red: #c1403d;
$black-transparent: rgba(0, 0, 0, 0.5);

/** SPACE SIZE */
$base-space: 10px;

/** FONT SIZE */
$base-font-size: 16px;

/** BORDER SIZE */
$base-border-radius: 2px;
$base-border: 1px solid;

/** TRANSITION */
$base-duration: ease-in-out;
$base-timing: 1s;

/** SHADOW */
$base-shadow: 0 5px $base-space $grey;
