/** COLORS */
$white: #fff;
$blue: #3d737d;
$light-blue: rgba(33, 133, 208, 0.15);
$black: #000;
$grey: #929292;
$light-grey: #f5f5f5;
$medium-grey: #99999957;
$red: #c1403d;
$light-red: rgba(193, 64, 61, 0.15);
$black-transparent: rgba(0, 0, 0, 0.5);
$border-grey: #ececec;

/** SPACE SIZE */
$base-space: 10px;

/** FONT SIZE */
$base-font-size: 16px;

/** FONT WEIGHT */
$base-font-weight: 400;
$base-font-weight-bold: 600;

/** FONT FAMILY */

$base-font-family: 'Montserrat', sans-serif;

/** BORDER SIZE */
$base-border-radius: 2px;
$base-border: 1px solid;

/** TRANSITION */
$base-duration: ease-in-out;
$base-timing: 1s;

/** SHADOW */
$base-shadow: 0 1px $base-space * 0.3 $grey;
