@import '~style/variables';

.homepage {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: $base-space * 2;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  width: 80%;
  margin: 0 auto;
  justify-content: stretch;
  align-items: center;
  height: 100vh;
  padding: 0 $base-space;
  color: $red;
}
